In [267]:
pip install nltk

Requirement already satisfied: nltk in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [268]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import nltk
import re
import string

In [269]:
data_fake = pd.read_csv(r"C:\Users\lenovo\Desktop\ML\Training\Fake.csv")
data_true = pd.read_csv(r"C:\Users\lenovo\Desktop\ML\Training\True.csv")

In [270]:
data_fake.head()
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [271]:
data_fake['class'] = 0
data_true['class'] = 1

In [272]:
data_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [273]:
data_true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [274]:
data_fake.shape,data_true.shape

((23481, 5), (21417, 5))

In [275]:
data_fake_manual_testing = data_fake.tail(10)
data_true_manual_testing = data_true.tail(10)

In [276]:
for i in range(23479,23469,-1):
    data_fake.drop([i],axis=0,inplace=True)
for i in range(21415,21405,-1):
    data_true.drop([i],axis=0,inplace=True)

In [277]:
data_fake.shape,data_true.shape

((23471, 5), (21407, 5))

In [278]:
data_fake_manual_testing.shape,data_true_manual_testing.shape

((10, 5), (10, 5))

In [279]:
data_fake_manual_testing['class'] = 0
data_true_manual_testing['class'] = 1

C:\Users\lenovo\AppData\Local\Temp\ipykernel_12540\277247672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class'] = 0
C:\Users\lenovo\AppData\Local\Temp\ipykernel_12540\277247672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing['class'] = 1

In [280]:
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [281]:
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [282]:
data_merge = pd.concat([data_fake,data_true],axis=0)
data_merge.head(10)
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [283]:
data_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [284]:
data_merge.shape

(44878, 5)

In [285]:
data = data_merge.drop(['title','subject','date'],axis=1)

In [286]:
data.isnull().sum()

text     0
class    0
dtype: int64

In [287]:
data = data.sample(frac=1)
data.head()

                                                    text  class
14585  BEIJING (Reuters) - A workaholic keen swimmer ...      1
22587   Robert Parry Consortium NewsIf there were any...      0
21033  Thank you Angela Merkel German security servic...      0
20454  MEXICO CITY (Reuters) - A massive earthquake o...      1
16765  MOSCOW (Reuters) - Russian Foreign Minister Se...      1

In [288]:
data.reset_index(inplace=True)

In [289]:
data.head()

   index                                               text  class
0  14585  BEIJING (Reuters) - A workaholic keen swimmer ...      1
1  22587   Robert Parry Consortium NewsIf there were any...      0
2  21033  Thank you Angela Merkel German security servic...      0
3  20454  MEXICO CITY (Reuters) - A massive earthquake o...      1
4  16765  MOSCOW (Reuters) - Russian Foreign Minister Se...      1

In [290]:
data.drop(['index'],axis=1,inplace=True)
data.columns

Index(['text', 'class'], dtype='object')

In [291]:
data.head()

                                                text  class
0  BEIJING (Reuters) - A workaholic keen swimmer ...      1
1   Robert Parry Consortium NewsIf there were any...      0
2  Thank you Angela Merkel German security servic...      0
3  MEXICO CITY (Reuters) - A massive earthquake o...      1
4  MOSCOW (Reuters) - Russian Foreign Minister Se...      1

In [292]:


def wordopt(text):
    # Convert the entire text to lowercase
    text = text.lower()
    
    # Remove anything within square brackets (usually used for removing tags in HTML or special annotations)
    text = re.sub('\[.*?\]', '', text)
    
    # Replace any word characters with a space
    text = re.sub("\\w", " ", text)
    
    # Remove URLs starting with 'http' or 'www'
    text = re.sub('https?://\s+|www\.\s+', '', text)
    
    # Remove anything within angle brackets (commonly used for removing HTML tags)
    text = re.sub('<.*?>+', '', text)
    
    # Remove any punctuation using the string.punctuation set
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    
    text =  re.sub(r'[^a-zA-Z\s]', '', text)
    
    # Remove newline characters
    text = re.sub('\n', '', text)
    
    # Remove any word containing digits
    text = re.sub('\w*\d\w*', '', text)
    
    # Return the preprocessed text
    return text

<>:6: SyntaxWarning: invalid escape sequence '\['
<>:12: SyntaxWarning: invalid escape sequence '\s'
<>:26: SyntaxWarning: invalid escape sequence '\w'
<>:6: SyntaxWarning: invalid escape sequence '\['
<>:12: SyntaxWarning: invalid escape sequence '\s'
<>:26: SyntaxWarning: invalid escape sequence '\w'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_12540\140685071.py:6: SyntaxWarning: invalid escape sequence '\['
  text = re.sub('\[.*?\]', '', text)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_12540\140685071.py:12: SyntaxWarning: invalid escape sequence '\s'
  text = re.sub('https?://\s+|www\.\s+', '', text)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_12540\140685071.py:26: SyntaxWarning: invalid escape sequence '\w'
  text = re.sub('\w*\d\w*', '', text)

In [293]:
data['text'] = data['text'].apply(wordopt)

In [294]:
x = data['text']
y = data['class']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [295]:
import re

def remove_punctuation(text):
    return re.sub(r'[^a-zA-Z\s]', '', text)

x_train = [remove_punctuation(doc) for doc in x_train]
x_test = [remove_punctuation(doc) for doc in x_test]

In [296]:
def remove_extra_whitespace(text):
    return ' '.join(text.split())

x_train = [remove_extra_whitespace(doc) for doc in x_train]
x_test = [remove_extra_whitespace(doc) for doc in x_test]

In [297]:
len(x_train)

33658

In [298]:
len(x_test)

11220

In [299]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Assuming x_train is a list of documents
x_train = ["This is document 1.", "Another document here.", "And one more document."]

# Split each document based on spaces
x_train_split = [doc.split() for doc in x_train]

# Flatten the list of lists into a single list of words
x_train_flattened = [word for doc in x_train_split for word in doc]

# Apply TfidfVectorizer to the flattened list
vectorization = TfidfVectorizer(stop_words='english')
xv_train = vectorization.fit_transform(x_train_flattened)

In [300]:
xv_train = []
vectorization = TfidfVectorizer(stop_words='english')

for doc in x_train:
    x_train_vectorized = vectorization.fit_transform([doc])
    xv_train.append(x_train_vectorized)

In [304]:
import nltk
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)